html,body {
    width: 100%;
    height: 100%;
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
}
img {
    display: block;
    width: 100%;
}
.lt-container {
    width: 100%;
    height: 100%;
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
    position: relative;
    padding-top: 45px;
    padding-bottom: 55px;
    overflow: hidden;
    background-color: #fff;
}
.lt-header {
    width: 100%;
    height: 45px;
    background-color: #069;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 45px;
}

.lt-header .icon-left,
.lt-header .icon-right {
    position: absolute;
    top: 0;
    height: 45px;
    width: 45px;
    color: #fff;
    line-height: 45px;
    text-align: center;
}
.lt-header .icon-left {
    left: 0;
}
.lt-header .icon-right {
    right: 0;
}
.lt-header h3 {
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    font-weight: normal;
    margin: 0;
}

.lt-footer {
    width: 100%;
    height: 55px;
    background-color: #069;
    position: absolute;
    left: 0;
    bottom: 0;
}
.lt-footer li {
    float: left;
    width: 25%;
    text-align: center;
}
.lt-footer li a {
    color: #fff;
    height: 55px;
    padding-top: 8px;
    display: block;
}
.lt-footer li p {
    color: #fff;
    margin: 0;
}
.lt-footer li a.current {
    color: orange;
}
.lt-footer li a.current p {
    color: orange;
}

.lt-main {
    width: 100%;
    height: 100%;
    position: relative;
}


/* 公共的搜索框样式 */
.lt-search {
    padding: 10px;
    position: relative;
}
.lt-search .search-input {
    height: 34px;
    line-height: 34px;
    font-size: 12px;
    border: 1px solid #007AFF;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    padding-left: 15px;
    padding-right: 55px;
}
.lt-search .search-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 0 5px 5px 0;
}


/* 公用产品样式 */
.lt-product {
    padding: 10px;
}
.lt-product .lt-product-item {
    float: left;
    width: 48%;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}
.lt-product .lt-product-item:nth-child(2n+1) {
    margin-right: 4%;
}
.lt-product .lt-product-item .price {
    color: red;
}
.lt-product .lt-product-item .oldPrice {
    text-decoration: line-through;
}

.lt-product-item img {
    width: 121px;
    height: 121px;
    margin: 0  auto;
}
/* 控制p的高度 */
.lt-product-item .mui-ellipsis-2 {
    height: 40px;
}