<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- 视口 -->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>乐淘商城</title>
    <link rel="stylesheet" href="./lib/mui/css/mui.min.css">
    <!-- 引入font-awesome 字体图标库 -->
    <link rel="stylesheet" href="./lib/fa/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/product.css">
</head>

<body>

    <!-- mui 字体图标 -->
    <!-- <span class="mui-icon mui-icon-camera"></span> -->
    <!-- font-awesome 字体图标 -->
    <!-- <span class="fa fa-pause"></span> -->

    <!-- 全屏容器 -->
    <div class="lt-container">
        <!-- 乐淘头部 -->
        <div class="lt-header">
            <!-- 返回上一页 -->
            <!-- history.back() -->
            <!-- history.go(-1) -->
            <a href="Javascript: history.back();" class="icon-left">
                <i class="mui-icon mui-icon-back"></i>
            </a>
            <h3>商品详情</h3>
            <!-- 页面刷新 location.reload() -->
            <a href="Javascript:location.reload();" class="icon-right">
                <i class="mui-icon mui-icon-reload"></i>
            </a>
        </div>

        <!-- 乐淘主体 -->
        <div class="lt-main">
            <div class="mui-scroll-wrapper">
                <div class="mui-scroll">
                    <!--这里放置真实显示的DOM内容-->

                    <!-- 挖个坑 -->

                </div>
            </div>
        </div>

        <!-- 前往购物车 -->
        <div class="lt-go-cart">
            <a href="cart.html" class="mui-pull-left">
                前往购物车
            </a>
            <div class="mui-pull-right">
                <button class="mui-btn mui-btn-danger" id="addCart">进入购物车</button>
                <button class="mui-btn mui-btn-warning">买买买</button>
            </div>
        </div>

    </div>


    <!--
  标准语法  {{ }}
  原生语法  <% %>

  原始语法输出 <%= %>

  官网地址:
  https://aui.github.io/art-template/
-->

    <script type="text/html" id="productTpl">
        <!-- 轮播图 -->
        <div class="mui-slider">
            <div class="mui-slider-group mui-slider-loop">
                <!-- 假图  最后一张图片 pic[pic.length-1]-->
                <div class="mui-slider-item mui-slider-item-duplicate">
                    <a href="#">
                        <img src="{{ pic[pic.length -1].picAddr }}" />
                    </a>
                </div>
                {{ each pic v i }}
                    <div class="mui-slider-item">
                        <a href="#">
                            <img src="{{ v.picAddr }}" />
                        </a>
                    </div>
                {{ /each }}
                <!-- 假图 -->
                <div class="mui-slider-item mui-slider-item-duplicate">
                    <a href="#">
                        <img src="{{ pic[0].picAddr}}" />
                    </a>
                </div>
            </div>
            <!-- 小圆点结构 -->
            <div class="mui-slider-indicator">
                {{ each pic v i }}
                    <div class="mui-indicator {{ i === 0 ? 'mui-active' : ''}}"></div>
                {{ /each }}
            </div>
        </div>

        <!-- 标题 -->
        <div class="lt-pro-name item-box ">
            <strong>{{ proName }}</strong>
        </div>

        <!-- 价格模块 -->
        <div class="lt-price item-box">
            <span>价格:</span>
            <span class="price">¥{{price}}</span>
            <span class="oldPrice">¥{{oldPrice}}</span>
        </div>

        <!-- 尺码模块 -->
        <div class="lt-size item-box">

            尺码:
            <%
                var arr = size.split("-");   // ["36", "50"]
                var start = arr[0];  // 36
                var end = arr[1];    // 50
                for ( var i = start; i <= end; i++ ) {
            %>
                <!-- 两种输出 都可以 -->
                <!-- <span>{{ i }}</span> -->
                <span><%= i%></span>
            <% } %>
            
        </div>

        <!-- 数量 -->
        <div class="lt-num item-box">
            <span>数量：</span>
            <div class="mui-numbox" data-numbox-step='1' data-numbox-min='1' data-numbox-max='{{ num }}'>
                <!-- "-"按钮，点击可减小当前数值 -->
                <button class="mui-btn mui-numbox-btn-minus" type="button">-</button>
                <input class="mui-numbox-input" type="number" />
                <!-- "+"按钮，点击可增大当前数值 -->
                <button class="mui-btn mui-numbox-btn-plus" type="button">+</button>
            </div>
            <span class="last">剩余数量: {{ num }}双 </span>
        </div>

        <!-- 详情 -->
        <div class="lt-desc item-box">
            <span>详情：{{ proDesc }}</span>
        </div>
    </script>

    <script src="./lib/mui/js/mui.js"></script>
    <script src="./lib/zepto/zepto.min.js"></script>
    <script src="./lib/artTemplate/template-web.js"></script>
    <script src="./js/common.js"></script>
    <script src="./js/product.js"></script>
</body>

</html>